


<footer class="site-footer">
    <div class="footer-menu">
        <strong>DISH INSIDE</strong>
        <span>회사소개</span>
        <span>|</span>
        <span>이용약관</span>
        <span>|</span>
        <span>개인정보처리방침</span>
        <span>|</span>
        <span>고객센터</span>
        <span>|</span>
        <span>제휴문의</span>
    </div>



    <div class="footer-info">
        <span>대표자 Dragon Jun</span>
        <span>주소 충청남도 천안시 백자빌딩 7층 1강의실</span>
        <span>이메일 contact@dishinside.com</span>
        <span>사업자등록번호 000-00-00000</span>
    </div>



    <small class="footer-copyright">
        © 2026 DISH INSIDE. MIT License.
    </small>
</footer>