<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
</head>
<body>
  <header class="site-header">
  <!-- 왼쪽: 로고 -->
  <a href="/dsinside" class="site-logo">
    <img src="/static/images/KakaoTalk_20260902_172536230.png" alt="Dish Inside 로고">
  </a>

<!-- 가운데: 브랜드 문구 -->
<div class="brand-slogan">
  <span class="brand-name">D I S H I N S I D E</span>
  <span class="brand-since">SINCE 2026</span>
</div>

<div class="member-area">

  {% if request.session.get('member_id') %}

    <div class="member-buttons">
      <a href="/mypage">프로필</a>
      <a href="/logout">로그아웃</a>
    </div>

    <div class="member-info">
      {{request.session.get('member_id')}} 님 로그인 중 
    </div>

  {% else %}
 
    <div class="member-buttons">
      <a href="/login">로그인</a>
    </div>

  {% endif %}

</div>
</header>

    
</body>
</html>