* {
    border: 1px solid red;
}

 /* 우선 디스플레이 논을 선언하고
마우스를 올렸을때만 보이믄 그만임 */

.preview{
    width: 100px;
}


.item {
    position: relative;
}

.big {
    display: none;
    position: absolute;
    top: 0;
    left: 500px;
}

.img{
    width: 500px;
}

.item:hover .big {
    display: block;
}