/* * {
    border: 1px solid red;
} */

/* 상단 메뉴를 최상단에 붙히기 위한 코드 */
body {
    margin: 0;
    min-height: 100vh;


}



.wrapper {
    /* position: relative; */
    text-align: center;
    /* font-family: 'ChosunIlboMyungjo', sans-serif; */



}

/* 아래 고정 */
.bottomArea {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

/* a태그 밑줄제거 */
a {
    text-decoration: none;
    color: black;
}

/* 버튼 꾸미는 코드 */

.btn-style {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: silver;
    color: black;
    margin: 5px;

}

.btn-Loginstyle {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(173, 216, 230);
    color: black;
    margin: 5px;

}


/* 폰트설정 주석 줄
@font-face {
    font-family: 'ChosunIlboMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
} */

/* 상단 메뉴 좌우 분리 */
.topMenu {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 하단 메뉴 좌우 분리
   및 진짜 하단으로 이동 */
.bottomMenu {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CountryCod {
    padding: 15px 20px;
    text-align: left;
    background-color: bisque;
}



/* 로고 디자인 요소 */
.logo {

    /* position:absolute; */
    /* margin-top: 100px; */
    font-weight: bold;
    color: black;
    font-size: 100px;
    text-shadow: 3px 3px 5px gray;

    /* box-sizing: border-box;
        border-radius: 50%; */
}


.index {
    margin-top: 110px;
    width: 100%;
}


.index2 {
    margin-top: 30px;
    text-align: center;

}

.CountryCod {
    display: block;
    text-align: left;
    margin-left: 20px;

}


.scBtn {
    margin-top: 20px;
}




.searchbox input {
    margin-top: 25px;
    width: 400px;
    height: 60px;
    font-size: 16px;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.15);
    outline: none;
    cursor: pointer;
}

.searchbox input:hover {
    box-shadow: 0 1px 10px rgba(32, 33, 36, 0.25);

}



/* 모바일 대응용 css */
/* @media(max-width: 1920px){
    .wrapper{
        width: 50%;
    }
} */