* {
    border: 1px solid red;
}

body {
    margin: 0;
}

.contents {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 12px;
}



/* 이미지 크기조절 */
img {
    width: 131px;
    height: 56px;
}

/* 검색*/



.searchbox {
    display: inline-block;
    vertical-align: top;
    text-align: left;

}

.searchbox input {
    width: 236px;
    height: 24px;
    box-sizing: border-box;
}

.left_area {
    flex: 1;
    margin-left: 10px;
}

.right_area {
    width: 400px;
}


.left_area iframe {

    width: 100%;

    /* 16:9비율 */
    aspect-ratio: 16 / 9;
    height: auto;
    border: none;
}


.right_area iframe {

    width: 400px;

    aspect-ratio: 16/ 9;
    height: auto;
    border: none;

}


/* 추천영상 세로정렬 */
.suggested_video {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/*
CSS부분은 CHATGPT가 많이 도와줬으므로 공부를 더해바야함


*/