<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/popup/welcome_popup.css" />
    <!-- 팝업 js연결(경로만 수정할 예정) -->
    <script src="/static/js/login_welcome_popup.js"></script>
  </head>
  <body>
   
    <div class="popup">
      <div class="popup-content">
        사이트에 방문해주셔서
        <br>다시 한 번 감사합니다.<br />
        맛을 나누고, <br><strong>情</strong>을 나누며 서로 소통해 보는 것은 어떨까요?
      </div>

      <div class="popup-bottom">
        <label>
          <input type="checkbox" class="chk" />
          1일간 보지 않기
        </label>

        <button type="button" class="close">닫기</button>
      </div>
    </div>



  </body>
</html>
