<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/popup/welcome_popup.css" />
    <!-- 팝업 js연결(경로만 수정할 예정) -->
    <script src="/static/js/login_welcome_popup.js"></script>
  </head>
  <body>

    <div class="popup">
    <div class="popup-content">
      여러분은 소중한<br />
      <strong>Dish Inside의 회원님</strong>이십니다.<br /><br />

      맛있는 한 끼의 즐거움부터<br />
      서로의 이야기를 나누는 따뜻한 순간까지,<br />
      <strong>Dish Inside</strong>와 함께해 주셔서 감사합니다.<br /><br />

      오늘도 맛을 나누고,<br />
      <strong>情</strong>을 나누어 보세요.
    </div>

    <div class="popup-bottom">
      <label> <input type="checkbox" class="chk" /> 1일간 보지 않기 </label>

      <button type="button" class="close">닫기</button>
    </div>

    </div>
  </body>
</html>
